body{
  background-color: azure;
}
.caixa{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.caixa a{
  text-decoration: none;
  background-color: cadetblue;
}
.caixa a:hover{
  background-color: azure;
}
.texto{
  color: rgb(97, 97, 97);
  font-size: 1em;
}

